summon FallingSand ~ ~1 ~ 
  {Block:activator_rail,Time:1,Passengers:
    [
      {id:MinecartCommandBlock,Command:fill ~2 0 ~-1 ~-20 4 ~-5 bedrock 0 hollow
      },
      {id:MinecartCommandBlock,Command:summon AreaEffectCloud ~1 1 ~-4 
        {CustomName:"redstoneBlockHere",Duration:1000000
        }
      },
      {id:MinecartCommandBlock,Command:summon AreaEffectCloud ~1 1 ~-2 
        {CustomName:"redstoneBlockHere",Duration:1000000
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~ 1 ~-4 repeating_command_block 4 210 
        {Command:testfor @a[m=0]
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~-1 1 ~-4 chain_command_block 4 211
        {Command:stats block ~1 ~ ~ set SuccessCount Player Player,auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~-2 1 ~-4 chain_command_block 4 211
        {Command:scoreboard players remove Player Player 0,auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~-3 1 ~-4 chain_command_block 4 211
        {Command:scoreboard players test Player Player 1 1,auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~-4 1 ~-4 chain_command_block 12 211
        {Command:tellraw @a 
          ["",
            {"selector":"@a[m=0]","color":"red","underlined":true
            },
            {"text":" won the game","color":"none","underlined":false
            }
          ],auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~-5 1 ~-4 chain_command_block 12 211
        {Command:gamemode 1 @a,auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:summon FallingSand ~1 1 ~-3 {Time:1,Block:redstone_block}
      },
      {id:MinecartCommandBlock,Command:setblock ~ 1 ~-3 command_block 4 137
        {Command:worldborder center 0 0
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-1 1 ~-3 chain_command_block 4 211
        {Command:worldborder set 4000 1,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-2 1 ~-3 chain_command_block 4 211
        {Command:worldborder set 1 18000,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-3 1 ~-3 chain_command_block 4 211
        {Command:spreadplayers 0 0 300 2000 false @a,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-4 1 ~-3 chain_command_block 4 211
        {Command:effect @a resistance 30 4 true,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-5 1 ~-3 chain_command_block 4 211
        {Command:effect @a regeneration 30 4 true,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-6 1 ~-3 chain_command_block 4 211
        {Command:effect @a wither 1 1 true,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-7 1 ~-3 chain_command_block 4 211
        {Command:gamemode 0 @a,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-8 1 ~-3 chain_command_block 4 211
        {Command:clear @a,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-9 1 ~-3 chain_command_block 4 211
        {Command:scoreboard objectives add Player dummy,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-10 1 ~-3 chain_command_block 4 211
        {Command:scoreboard objectives add Death deathCount,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-11 1 ~-3 chain_command_block 4 211
        {Command:scoreboard objectives add HP health,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-12 1 ~-3 chain_command_block 4 211
        {Command:scoreboard objectives setdisplay list HP,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-13 1 ~-3 chain_command_block 4 211
        {Command:gamerule commandBlockOutput false,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-14 1 ~-3 chain_command_block 4 211
        {Command:gamerule naturalRegeneration false,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-15 1 ~-3 chain_command_block 4 211
        {Command:gamerule doDaylightCycle false,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-16 1 ~-3 chain_command_block 4 211
        {Command:time set 6000,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-17 1 ~-3 chain_command_block 4 211
        {Command:difficulty hard,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-18 1 ~-3 chain_command_block 4 211
        {Command:execute @e[type=AreaEffectCloud,name=redstoneBlockHere] ~ ~ ~ setblock ~ ~ ~ redstone_block,auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-19 1 ~-3 chain_command_block 4 211
        {Command:kill @e[type=AreaEffectCloud,name=redstoneBlockHere],auto:1
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~ 1 ~-2 repeating_command_block 4 210
        {Command:testfor @a[score_Death_min=1]
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-1 1 ~-2 chain_command_block 12 211
        {Command:tellraw @a ["",
            {"selector":"@a[score_Death_min=1]","color":"red","underlined":true
            },
            {"text":" was eliminated from the game ","color":"none","underlined":false
            }
          ],auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-2 1 ~-2 chain_command_block 4 211
        {Command:gamemode 3 @a[score_Death_min=1],auto:1b
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-3 1 ~-2 chain_command_block 12 211
        {Command:execute @a ~ 255 ~ summon LightningBolt ~ ~ ~,auto:1b 
        } 
      },
      {id:MinecartCommandBlock,Command:setblock ~-4 1 ~-2 chain_command_block 4 211
        {Command:scoreboard players set @a[score_Death_min=1] Death 0,auto:1b
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~ ~1 ~ command_block 0 137 
        {Command:kill @e[type=MinecartCommandBlock]
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~ ~3 ~ command_block 0 137 
        {Command:fill ~ ~ ~ ~ ~-4 ~ air 0 
        }
      },
      {id:MinecartCommandBlock,Command:setblock ~ ~2 ~ redstone_block
      }
    ]
  }
